#container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  width: 1300px;
  height: 400px;
  margin-left: 150px;
}

.container1 img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.head h3 {
  color: aliceblue;
  position: absolute;
  top: 30px;
  left: 1300px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.head2 {
  color: aliceblue;
  position: absolute;
  top: 400px;
  left: 1380px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: underline;
  font-size: 12px;
}

.container1 {
  display: flex;
  flex-direction: column;
  color: antiquewhite;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* border: 2px solid white;  */
  margin-top: 70px;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* border: 2px solid white; */
  width: 300px;
  height: 300px;
  border-radius: 20px;
  background: linear-gradient(
    to top,
    rgba(45, 164, 211, 0),
    rgba(234, 10, 234, 0.329)
  );
  position: relative;
}
.container1::after {
  content: "\f144";
  font-family: "FontAwesome";
  position: absolute;
  left:180px;   
  bottom: -60px;
  background: linear-gradient(
    to top,
    rgba(45, 164, 211, 0.556),
    rgba(234, 10, 234, 0.615)
  );
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 100%;
  transition: all 100ms;
  font-weight: 600;
  cursor: pointer;
  /* text-transform: uppercase; */
  opacity: 0;
}

.container1:hover {
  background: linear-gradient(
    to top,
    rgba(45, 164, 211, 0.296),
    rgba(234, 10, 234, 0)
  );
}
.container1:hover::after {
  bottom: 25%;
  left:180px;
  opacity: 1;
}

.container1 a {
  text-decoration: none;
  color: white;
    text-align: center;
}
.container1 a p{
  margin:0;
  margin-top: 10px;
}

